<a href="https://colab.research.google.com/github/erendagasan/Eren-Dagasan-Personal/blob/main/DENEME.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PIP Installs

In [1]:
!pip install -q bta-lib
!pip install -q ta
!pip install -q yfinance

#Libraries

In [2]:
import yfinance as yf
import btalib
import numpy as np
import pandas as pd
from ta.trend import PSARIndicator
from ta.momentum import WilliamsRIndicator
from ta.trend import AroonIndicator
from ta.volume import VolumePriceTrendIndicator
from ta.trend import CCIIndicator
from ta.momentum import ROCIndicator
from ta.trend import ADXIndicator
from datetime import datetime, timedelta
from sklearn.preprocessing import MinMaxScaler
import random
import numpy as np
import warnings
from google.colab import drive

drive.mount('/content/drive')
path = '/content/drive/My Drive/output.csv'

warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=RuntimeWarning)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_rows', 500)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Stock Lists

In [3]:
xu030 = [
        'AKBNK.IS',
        'AKSEN.IS',
        'ALARK.IS',
        'ARCLK.IS',
        'ASELS.IS',
        'BIMAS.IS',
        'EKGYO.IS',
        'ENKAI.IS',
        'EREGL.IS',
        'FROTO.IS',
        'GARAN.IS',
        'GUBRF.IS',
        'HEKTS.IS',
        'KRDMD.IS',
        'KCHOL.IS',
        'KOZAL.IS',
        'KOZAA.IS',
        'ODAS.IS',
        'PGSUS.IS',
        'SAHOL.IS',
        'SASA.IS',
        'PETKM.IS',
        'SISE.IS',
        'TAVHL.IS',
        'THYAO.IS',
        'TUPRS.IS',
        'TOASO.IS',
        'TCELL.IS',
        'ISCTR.IS',
        'YKBNK.IS'
          ]

xu100 = ['ADESE.IS',
        'AGHOL.IS',
        'AKBNK.IS',
        'AKSA.IS',
        'AKSEN.IS',
        'ALGYO.IS',
        'ALARK.IS',
        'ALKIM.IS',
        'AEFES.IS',
        'ARCLK.IS',
        'ARDYZ.IS',
        'ASELS.IS',
        'AYDEM.IS',
        'BERA.IS',
        'BIMAS.IS',
        'BRYAT.IS',
        'BRISA.IS',
        'CCOLA.IS',
        'CANTE.IS',
        'CEMAS.IS',
        'CIMSA.IS',
        'DOHOL.IS',
        'DOAS.IS',
        'EGEEN.IS',
        'ECILC.IS',
        'EKGYO.IS',
        'ENJSA.IS',
        'ENKAI.IS',
        'ERBOS.IS',
        'EREGL.IS',
        'FROTO.IS',
        'GENIL.IS',
        'GESAN.IS',
        'GLYHO.IS',
        'GOZDE.IS',
        'GUBRF.IS',
        'SAHOL.IS',
        'HEKTS.IS',
        'INDES.IS',
        'IPEKE.IS',
        'ISDMR.IS',
        'ISFIN.IS',
        'ISGYO.IS',
        'ISMEN.IS',
        'IZMDC.IS',
        'KRDMD.IS',
        'KARSN.IS',
        'KARTN.IS',
        'KERVT.IS',
        'KRVGD.IS',
        'KCHOL.IS',
        'KORDS.IS',
        'KOZAL.IS',
        'KOZAA.IS',
        'LOGO.IS',
        'MAVI.IS',
        'MGROS.IS',
        'NTHOL.IS',
        'ODAS.IS',
        'OTKAR.IS',
        'OYAKC.IS',
        'PARSN.IS',
        'PGSUS.IS',
        'PETKM.IS',
        'QUAGR.IS',
        'RTALB.IS',
        'SARKY.IS',
        'SASA.IS',
        'SELEC.IS',
        'SKBNK.IS',
        'SOKM.IS',
        'TAVHL.IS',
        'TKFEN.IS',
        'TKNSA.IS',
        'TOASO.IS',
        'TRGYO.IS',
        'TCELL.IS',
        'TUPRS.IS',
        'THYAO.IS',
        'TTKOM.IS',
        'TTRAK.IS',
        'GARAN.IS',
        'HALKB.IS',
        'ISCTR.IS',
        'TSKB.IS',
        'TURSG.IS',
        'SISE.IS',
        'VAKBN.IS',
        'ULKER.IS',
        'VERUS.IS',
        'VESBE.IS',
        'VESTL.IS',
        'YKBNK.IS',
        'YATAS.IS',
        'ZRGYO.IS',
        'ZOREN.IS']

url = 'https://en.m.wikipedia.org/wiki/Nasdaq-100'
nasdaq100 = pd.read_html(url, attrs={'id': "constituents"})[0]
nasdaq100 = nasdaq100["Ticker"].to_list()

#Functions

In [4]:
  def create_indicators(data):
    # 15 DKLIK İCİN
    # EMA 33, 165, 660

    # ICHIMOKU
    # MOMENTUM INDIKATORU EKLE
    # ELLIOT EKLE
    # FIBONACCI

    # 50 - 200Ü KIRIYORSA GOLDEN CROSS - TAM TERSİ SAĞLAM SAT (DATA COK BÜYÜYOR)

    # Below 30 is oversold, upper 70 is overbought
    data["RSI"] = btalib.rsi(data["Close"], period=14).df

    #If little period conflicts with the bigger one it means buy else sell.
    data["SMA5"] = btalib.sma(data['Close'], period=5).df
    data["SMA9"] = btalib.sma(data['Close'], period=9).df
    data["SMA10"] = btalib.sma(data['Close'], period=10).df
    data["SMA14"] = btalib.sma(data['Close'], period=14).df
    data["SMA20"] = btalib.sma(data['Close'], period=20).df
    data["SMA21"] = btalib.sma(data['Close'], period=21).df
    data["SMA50"] = btalib.sma(data['Close'], period=50).df
    data["SMA200"] = btalib.sma(data['Close'], period=200).df

    data["EMA5"] = btalib.ema(data['Close'], period=5).df
    data["EMA14"] = btalib.ema(data['Close'], period=14).df
    data["EMA21"] = btalib.ema(data['Close'], period=21).df
    data["EMA50"] = btalib.ema(data['Close'], period=50).df

    #A reading below 20 generally represents an oversold market and a reading above 80 an overbought market. Look only STOCH-D.
    data["STOCH-K"] = btalib.stoch(data['High'], data['Low'], data['Close']).df["k"]
    data["STOCH-D"] = btalib.stoch(data['High'], data['Low'], data['Close']).df["d"]

    #When the MACD line crosses above the signal line, it generates a buy signal. This indicates a potential bullish trend reversal.
    #Additionally, monitor the MACD histogram. When the histogram bars turn positive (change from negative to positive), it confirms the buy signal and suggests increasing buying pressure.
    data["MACD"] = btalib.macd(data['Close']).df["macd"]
    data["SIGNAL"] = btalib.macd(data['Close']).df["signal"]
    data["HISTOGRAM"] = btalib.macd(data['Close']).df["histogram"]

    #Buy Signal: When the price of the stock touches or crosses below the lower Bollinger Band, it can be considered a buy signal.
    #This suggests that the stock may be oversold, and a potential price rebound is expected.
    #Sell Signal: When the price of the stock touches or crosses above the upper Bollinger Band, it can be considered a sell signal.
    #This indicates that the stock may be overbought, and a potential price correction is expected.
    data["BB-UPPER"] = btalib.bbands(data['Close']).df['top']
    data["BB-MID"] = btalib.bbands(data['Close']).df['mid']
    data["BB-LOWER"] = btalib.bbands(data['Close']).df['bot']

    #When the current price of the stock falls below a certain number of standard deviations (GET THE MIN AND MAX VALUE OF THE COLUMN AND MAKE IT THE THRESHOLD)
    #from the mean, it generates a buy signal. This suggests that the price has deviated significantly from the average and may present a buying opportunity.
    data["STDEV"] = data["Close"].rolling(window=10).std()

    #Generate a buy signal when the price crosses above the PSAR.
    #This indicates a potential reversal in the downward trend and suggests a buying opportunity.
    data["PSAR"] = PSARIndicator(data["High"], data["Low"], data["Close"]).psar()

    #Williams
    #Use the Williams Percent Range (%R) formula to calculate the %R values based on historical price data.
    #The %R values range from -100 to 0, where values close to -100 indicate oversold conditions and values close to 0 indicate overbought conditions.
    #Generate a buy signal when the %R value crosses above a certain threshold (e.g., -80) from below.
    #This indicates a potential reversal from oversold conditions and suggests a buying opportunity.
    data["WILLIAMS"] = WilliamsRIndicator(data["High"], data["Low"], data["Close"]).williams_r()

    #The difference between these two lines indicates whether there is overbought (a positive number) or oversold (a negative number).
    data["AROON"] = AroonIndicator(close=data["Close"], window=25).aroon_indicator()

    #obv
    data["OBV"] = VolumePriceTrendIndicator(close=data['Close'], volume=data['Volume']).volume_price_trend()

    #CCI
    data['CCI'] = CCIIndicator(close=data['Close'], low=data["Low"], high=data["High"], window=14).cci()

    #ROC
    data['ROC'] = ROCIndicator(close=data['Close'], window=5).roc()

    #BULLBEARPOWER
    data['BULL'] = data['High'] - (data['High'].rolling(13).max() + data['Low'].rolling(13).min()) / 2
    data['BEAR'] = data['Low'] - (data['High'].rolling(13).max() + data['Low'].rolling(13).min()) / 2

    #ADX
    adx_indicator = ADXIndicator(high=data['High'], low=data['Low'], close=data['Close'], window=14)
    data['ADX'] = adx_indicator.adx()
    data['+DI'] = adx_indicator.adx_pos()
    data['-DI'] = adx_indicator.adx_neg()

    data = data.dropna()
    data = data.reset_index()
    return data

  def score(data):
    scaler = MinMaxScaler(feature_range=(0, 100))
    scores = []

    for row in range(data.shape[0]):
      score = 0

      if data["RSI"][row] < 30:
        score+=1
      elif data["RSI"][row] > 70:
        score-=1

      if row > 0 and data["RSI"].iloc[row-1] > 63 and data["RSI"].iloc[row] < 63:
        score-=1

      if row > 0 and data["RSI"].iloc[row-1] > 49 and data["RSI"].iloc[row] < 49:
        score-=1.5
      elif row > 0 and data["RSI"].iloc[row-1] < 50 and data["RSI"].iloc[row] > 50:
        score+=1.5

      if data["SMA5"].iloc[row] > data["SMA10"].iloc[row]:
        score+=1.5
      else:
        score-=1.5

      if row > 0 and data['SMA5'].iloc[row-1] < data['SMA10'].iloc[row-1] and data['SMA5'].iloc[row] > data['SMA10'].iloc[row]:
        score+=1
      else:
        score-=1

      # if data["SMA9"][row] > data["SMA14"][row]:
      #   score+=1
      # else:
      #   score-=1

      # if row > 0 and data['SMA9'].iloc[row-1] < data['SMA14'].iloc[row-1] and data['SMA9'].iloc[row] > data['SMA14'].iloc[row]:
      #   score+=1
      # else:
      #   score-=1

      if data["SMA14"][row] > data["SMA21"][row]:
        score+=1
      else:
        score-=1

      if row > 0 and data['SMA14'].iloc[row-1] < data['SMA21'].iloc[row-1] and data['SMA14'].iloc[row] > data['SMA21'].iloc[row]:
        score+=1
      else:
        score-=1

      if row > 1 and data['SMA20'].iloc[row-1] < data["Close"].iloc[row-1] and data['SMA20'].iloc[row] < data["Close"].iloc[row]:
        score+=1
      else:
        score-=1

      if data["SMA21"][row] > data["SMA50"][row]:
        score+=1
      else:
        score-=1

      if row > 0 and data['SMA21'].iloc[row-1] < data['SMA50'].iloc[row-1] and data['SMA21'].iloc[row] > data['SMA50'].iloc[row]:
        score+=1
      else:
        score-=1

      if row > 0 and data['SMA50'].iloc[row-1] < data['SMA200'].iloc[row-1] and data['SMA50'].iloc[row] > data['SMA200'].iloc[row]:
        score+=2

      # if data['Close'][row] > data["EMA14"][row]:
      #   score+=1
      # else:
      #   score-=1

      # if data["EMA5"][row] > data["EMA14"][row]:
      #   score+=0.5
      # else:
      #   score-=0.5

      # if row > 0 and data['EMA5'].iloc[row-1] < data['EMA14'].iloc[row-1] and data['EMA5'].iloc[row] > data['EMA14'].iloc[row]:
      #   score+=0.5
      # else:
      #   score-=0.5

      # if data["EMA14"][row] > data["EMA21"][row]:
      #   score+=1
      # else:
      #   score-=1

      # if row > 0 and data['EMA14'].iloc[row-1] < data['EMA21'].iloc[row-1] and data['EMA14'].iloc[row] > data['EMA21'].iloc[row]:
      #   score+=1
      # else:
      #   score-=1

      # if data["EMA21"][row] > data["EMA50"][row]:
      #   score+=1
      # else:
      #   score-=1

      # if row > 0 and data['EMA21'].iloc[row-1] < data['EMA50'].iloc[row-1] and data['EMA21'].iloc[row] > data['EMA50'].iloc[row]:
      #   score+=1
      # else:
      #   score-=1

      if data["STOCH-D"][row] <= 20:
        score+=1
      elif data["STOCH-D"][row] >= 80:
        score-=1

      if row > 0 and data["STOCH-D"][row-1] > 65 and data["STOCH-D"][row] < 65:
        score-=1
      elif row > 0 and data["STOCH-D"][row-1] < 35 and data["STOCH-D"][row] > 35:
        score=+1

      if data["MACD"][row] > data["SIGNAL"][row]:
        score+=1
      if row > 0 and data["MACD"][row] > data["SIGNAL"][row] and data["HISTOGRAM"][row-1] < 0 and data["HISTOGRAM"][row] > 0:
        score+=1
      if row > 0 and data["MACD"][row] < data["SIGNAL"][row] and data["HISTOGRAM"][row-1] > 0 and data["HISTOGRAM"][row] < 0:
        score-=1
      if data["MACD"][row] < data["SIGNAL"][row]:
        score-=1

      if data['MACD'].tail(7).mean() > 0:
        score+=1
      else:
        score-=1

      if data['MACD'].tail(30).mean() > 0:
        score+=1
      else:
        score-=1

      # if data["BB-LOWER"].iloc[row] > data["Close"].iloc[row]:
      #     score+=1
      # elif data["BB-UPPER"].iloc[row] < data["Close"].iloc[row]:
      #     score-=1
      # if data["BB-MID"].iloc[row] < data["Close"].iloc[row] and data["BB-LOWER"].iloc[row] - data["Close"].iloc[row] < data["BB-MID"].iloc[row] - data["Close"].iloc[row]:
      #     score+=1
      # elif data["BB-MID"].iloc[row] > data["Close"].iloc[row] and data["BB-UPPER"].iloc[row] - data["Close"].iloc[row] < data["BB-MID"].iloc[row] - data["Close"].iloc[row]:
      #     score-=1

      if (data["STDEV"].max() + data["STDEV"].min()) / 2 > data["STDEV"][row]:
        score+=1
      else:
        score-=1

      if data["PSAR"][row] < data["Close"][row]:
        score+=1
      else:
        score-=1

      if data["WILLIAMS"][row] < -80:
        score+=1
      elif data["WILLIAMS"][row] > -20:
        score-=1

      if data["AROON"][row] > 0:
        score-=1
      else:
        score+=1

      if row > 0 and data["OBV"][row-1] < data["OBV"][row] and data["Close"][row] > data["Close"][row-1]:
        score+=1
      elif row > 0 and data["OBV"][row-1] > data["OBV"][row] and data["Close"][row] < data["Close"][row-1]:
        score-=1

      if row > 0 and (data['CCI'][row] > -100) & (data['CCI'][row-1] <= -100):
        score+=1
      elif row > 0 and (data['CCI'][row] < 100) & (data['CCI'][row-1] >= 100):
        score-=1

      if data["ROC"][row] > 0:
        score+=1
      elif data["ROC"][row] < 0:
        score-=1

      if data["BULL"][row] > 0:
        score+=1
      elif data["BEAR"][row] < 0:
        score-=1

      if (data['ADX'][row] > 25) and (data['+DI'][row] > data['-DI'][row]):
        score+=1
      if data['ADX'][row] > data['+DI'][row] and data['ADX'][row] > data['-DI'][row]:
        score+=1
      if data['ADX'][row] < data['+DI'][row] and data['ADX'][row] < data['-DI'][row]:
        score-=1

      elif (data['ADX'][row] > 40) and (data['+DI'][row] < data['-DI'][row]):
        score-=1

      scores.append(score)

    data["SCORE"] = scores
    data["SCORE"] = scaler.fit_transform(data["SCORE"].values.reshape(-1, 1))
    return data

  def save_to_excel(stock, data):
    output_file = stock + ":" + start + ":" + end + '.xlsx'
    writer = pd.ExcelWriter(output_file)
    data.to_excel(writer, index=True, sheet_name=stock)
    writer.save()

  def buy_or_sell(stock, data, balance, upper_score, lower_score):
    stock_balance = 0
    transactions = []

    for row in range(data.shape[0]):
      if row > 0 and data["SCORE"].iloc[row] >= upper_score and data["SCORE"].iloc[row-1] < upper_score and balance > data["Close"].iloc[row]:
        stock_balance = balance / data["Close"].iloc[row]
        balance-= stock_balance*data["Close"].iloc[row]
        transactions.append([stock, "BUY", data["Date"].iloc[row], data["Close"].iloc[row], stock_balance, balance, data["SCORE"].iloc[row]])

      elif row > 0 and data["SCORE"].iloc[row] <= lower_score and data["SCORE"].iloc[row-1] > lower_score and stock_balance > 1:
        balance+=stock_balance*data["Close"].iloc[row]
        stock_balance-=stock_balance
        transactions.append([stock,"SELL", data["Date"].iloc[row], data["Close"].iloc[row], stock_balance, balance, data["SCORE"].iloc[row]])

    transactions_df = pd.DataFrame(transactions, columns=["STOCK","B/S", "DATE", "PRICE", "STOCK BALANCE", "TRY BALANCE", "SCORE"])
    if transactions_df.empty != True:
      transactions_df["LAST PRICE"] = data["Close"].iloc[-1]
    return transactions_df

  def test_the_market(market, buy_threshold, sell_threshold, start, end, balance, today):
    test_df = pd.DataFrame()

    for stock in market:
      try:
        data = yf.download(stock, start, end, progress=False)
        data = create_indicators(data)
        data = score(data)
        simulation_df = buy_or_sell(stock, data, balance=balance, upper_score=buy_threshold, lower_score=sell_threshold)
        test_df = pd.concat([test_df, simulation_df])

      except:
        print("Data error with stock named: " + stock)

    test_df = test_df.reset_index().drop(["index"], axis=1)
    return_df = pd.DataFrame()

    for stock in xu030:
      stock_df = test_df[test_df["STOCK"] == stock]

      if stock_df.empty != True:
        if stock_df['B/S'].iloc[-1] == "BUY":
          add = pd.DataFrame({"STOCK": [stock_df["STOCK"].iloc[-1]], "B/S": ["CLOSE"], "DATE": [today], "PRICE": [stock_df["LAST PRICE"].iloc[-1]],
                              'STOCK BALANCE': [0], 'TRY BALANCE': [(stock_df["STOCK BALANCE"].iloc[-1]) * stock_df["LAST PRICE"].iloc[-1]], 'LAST PRICE' :[stock_df["LAST PRICE"].iloc[-1]]})

          stock_df = stock_df.append(add)
          return_df = pd.concat([return_df, stock_df], ignore_index=True)
        else:
          return_df = pd.concat([return_df, stock_df], ignore_index=True)

    return return_df

#Variables

In [40]:
today = datetime.today().date()
tomorrow = today + timedelta(days=1)

start="2021-06-01"
end = today.strftime("%Y-%m-%d")

balance = 2000
buy_threshold = 77
sell_threshold = 51

#Buy or Sell Informations on Stocks

In [ ]:
buy_stocks = []
sell_stocks = []
simulation_stocks = pd.DataFrame()

lookup_table = []
portfolio = []

for stock in xu030:
  try:
    data = yf.download(stock, start=start, end=end, progress=False)
    data = create_indicators(data)
    data = score(data)

    if stock in lookup_table:
      # save_to_excel(stock, data)
      portfolio.append([data.tail(1)["Date"].item(), stock, data.tail(1)["Close"].item(), data.tail(1)["SCORE"].item(),
                        "BUY" if data["SCORE"].iloc[-1] > buy_threshold and data["SCORE"].iloc[-2] < buy_threshold else
                        "SELL" if data["SCORE"].iloc[-1] < sell_threshold and data["SCORE"].iloc[-2] > sell_threshold else
                        "SELL" if data["SCORE"].iloc[-1] < sell_threshold else "HOLD"])

    if data["SCORE"].iloc[-1] > buy_threshold and data["SCORE"].iloc[-2] < buy_threshold:
      buy_stocks.append([data.tail(1)["Date"].item(), stock, data.tail(1)["Close"].item(), data.tail(1)["SCORE"].item(), "BUY"])
      simulation_df = buy_or_sell(stock, data, balance=2000, upper_score=buy_threshold, lower_score=sell_threshold)
      simulation_stocks = pd.concat([simulation_stocks, simulation_df])

    elif data["SCORE"].iloc[-1] < sell_threshold and data["SCORE"].iloc[-2] > sell_threshold:
      sell_stocks.append([data.tail(1)["Date"].item(), stock, data.tail(1)["Close"].item(), data.tail(1)["SCORE"].item(), "SELL"])

  except:
    print("Data error at the stock named: " + stock)

In [ ]:
portfolio = pd.DataFrame(portfolio, columns=["DATE","STOCK", "PRICE","SCORE", "B/S/H"])
portfolio = portfolio.sort_values(by='SCORE', ascending=False)
portfolio

Empty DataFrame
Columns: [DATE, STOCK, PRICE, SCORE, B/S/H]
Index: []

In [ ]:
buy_stocks = pd.DataFrame(buy_stocks, columns=["DATE","STOCK", "PRICE","SCORE", "B/S/H"])
buy_stocks = buy_stocks.sort_values(by='SCORE', ascending=False)
buy_stocks

        DATE     STOCK  PRICE  SCORE B/S/H
0 2023-06-23  EKGYO.IS   7.28  47.37   BUY
1 2023-06-23  KOZAL.IS  23.38  43.86   BUY
2 2023-06-23   SASA.IS  55.40  43.86   BUY
3 2023-06-23  TCELL.IS  35.50  42.11   BUY

In [ ]:
sell_stocks = pd.DataFrame(sell_stocks, columns=["DATE","STOCK", "PRICE","SCORE", "B/S/H"])
sell_stocks = sell_stocks.sort_values(by="SCORE", ascending=False)
sell_stocks

        DATE     STOCK  PRICE  SCORE B/S/H
0 2023-06-23  TUPRS.IS  76.75  50.00  SELL

In [ ]:
# simulation_stocks

#Profit Calculation

In [ ]:
test_df = test_the_market(["THYAO.IS"], buy_threshold, sell_threshold, start=start, end=end, balance=balance, today=today)

profit_or_loss = []

for stock in ["THYAO.IS"]:
  stock_df = test_df[test_df["STOCK"] == stock]

  if stock_df.empty != True:
    profit_or_loss.append([stock_df["STOCK"].iloc[-1] ,stock_df['TRY BALANCE'].tail(1).item() - balance])

profit_df = pd.DataFrame(profit_or_loss)
print("\nTOPLAM KÂR: " + str(int(sum(profit_df[1]))) + "TL")
profit_df

TOPLAM KÂR: 6351TL

          0       1
0  THYAO.IS 6351.70

In [ ]:
test_df[test_df["STOCK"] == "THYAO.IS"]

       STOCK   B/S       DATE  PRICE  STOCK BALANCE  TRY BALANCE  LAST PRICE
0   THYAO.IS   BUY 2022-03-22  28.52          70.13         0.00      189.10
1   THYAO.IS  SELL 2022-06-08  46.72           0.00      3276.30      189.10
2   THYAO.IS   BUY 2022-06-20  50.85          64.43         0.00      189.10
3   THYAO.IS  SELL 2022-06-29  46.18           0.00      2975.41      189.10
4   THYAO.IS   BUY 2022-07-07  49.20          60.48         0.00      189.10
5   THYAO.IS  SELL 2022-09-16  73.95           0.00      4472.18      189.10
6   THYAO.IS   BUY 2022-10-04  80.80          55.35         0.00      189.10
7   THYAO.IS  SELL 2022-11-17 107.20           0.00      5933.39      189.10
8   THYAO.IS   BUY 2022-11-24 111.60          53.17         0.00      189.10
9   THYAO.IS  SELL 2022-12-30 140.90           0.00      7491.17      189.10
10  THYAO.IS   BUY 2023-01-03 147.40          50.82         0.00      189.10
11  THYAO.IS  SELL 2023-01-09 138.40           0.00      7033.77      189.10
12  THYAO.IS   BUY 2023-01-17 147.40          47.72        -0.00      189.10
13  THYAO.IS  SELL 2023-01-20 152.90           0.00      7296.22      189.10
14  THYAO.IS   BUY 2023-01-25 151.80          48.06         0.00      189.10
15  THYAO.IS  SELL 2023-01-30 144.80           0.00      6959.77      189.10
16  THYAO.IS   BUY 2023-03-03 138.70          50.18         0.00      189.10
17  THYAO.IS  SELL 2023-03-08 140.10           0.00      7030.02      189.10
18  THYAO.IS   BUY 2023-04-06 127.20          55.27         0.00      189.10
19  THYAO.IS  SELL 2023-04-20 134.00           0.00      7405.84      189.10
20  THYAO.IS   BUY 2023-05-11 136.30          54.33         0.00      189.10
21  THYAO.IS  SELL 2023-05-15 124.40           0.00      6759.26      189.10
22  THYAO.IS   BUY 2023-05-17 137.10          49.30         0.00      189.10
23  THYAO.IS  SELL 2023-06-21 169.40           0.00      8351.70      189.10

#Graph

In [ ]:
import plotly.graph_objects as go

stock = "VAKBN.IS"
data = yf.download(stock, start="2010-06-01", end=end, progress=False)
data = create_indicators(data)
data = score(data)

fig = go.Figure(data=[go.Candlestick(x=data['Date'],
                open=data['Open'],
                high=data['High'],
                low=data['Low'],
                close=data['Close'])])

for row in range(test_df.shape[0]):
  test_df["DATE"].iloc[row] = str(test_df["DATE"].iloc[row])[:10]

filtered_df = test_df[test_df["STOCK"] == stock]

filtered_buy_df = filtered_df[filtered_df["B/S"] == "BUY"]["DATE"]
filtered_sell_df = filtered_df[filtered_df["B/S"] == "SELL"]["DATE"]

buy_dates = filtered_buy_df
buy_dates = [datetime.strptime(date, '%Y-%m-%d').date() for date in buy_dates]

buy_scatter = go.Scatter(
    x=buy_dates,
    y=data.loc[data['Date'].isin(buy_dates), 'Close'],
    mode='markers',
    marker=dict(symbol='arrow-up', size=10, color='blue'),
    name='BUY'
)

sell_dates = filtered_sell_df
sell_dates = [datetime.strptime(date, '%Y-%m-%d').date() for date in sell_dates]

sell_scatter = go.Scatter(
    x=sell_dates,
    y=data.loc[data['Date'].isin(sell_dates), 'Close'],
    mode='markers',
    marker=dict(symbol='arrow-down', size=10, color='purple'),
    name='SELL'
)

fig.add_trace(buy_scatter)
fig.add_trace(sell_scatter)

fig.show()

#Finding Optimal Thresholds w/ this Buying Strategy

In [ ]:
df = pd.DataFrame()

for stock in ["THYAO.IS"]:
  data = yf.download(stock, start=start, end=end, progress=False)
  data = create_indicators(data)
  data = score(data)
  data["STOCK"] = stock
  df = pd.concat([df, data], ignore_index=True)

tries = []

for buy_threshold in range(40, 80):
  print(f"Tried buy threshold is: {buy_threshold}")
  for sell_threshold in range(40, 80):
    print(f"Tried sell threshold is: {sell_threshold}")
    profit_or_loss = []

    for stock in ["THYAO.IS"]:
      stock_df = df[df["STOCK"] == stock]
      buy_sell_df = buy_or_sell(stock, stock_df, balance=balance, upper_score=buy_threshold, lower_score=sell_threshold)

      if buy_sell_df.empty != True:

        if buy_sell_df['B/S'].iloc[-1] == "BUY":
          add = pd.DataFrame({"STOCK": [buy_sell_df["STOCK"].iloc[-1]], "B/S": ["CLOSE"], "DATE": [today], "PRICE": [buy_sell_df["LAST PRICE"].iloc[-1]],
                              'STOCK BALANCE': [0], 'TRY BALANCE': [(buy_sell_df["STOCK BALANCE"].iloc[-1]) * buy_sell_df["LAST PRICE"].iloc[-1]], 'LAST PRICE' :[buy_sell_df["LAST PRICE"].iloc[-1]]})

          buy_sell_df = pd.concat([buy_sell_df, add])

        if buy_sell_df['TRY BALANCE'].empty != True:
          profit_or_loss.append(buy_sell_df['TRY BALANCE'].tail(1).item() - balance)

    tries.append([buy_threshold, sell_threshold, sum(profit_or_loss)])

Tried buy threshold is: 40
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 41
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 42
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 43
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 44
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 45
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 46
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 47
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 48
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 49
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 50
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 51
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 52
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 53
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 54
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 55
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 56
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55
Tried sell threshold is: 56
Tried sell threshold is: 57
Tried sell threshold is: 58
Tried sell threshold is: 59
Tried sell threshold is: 60
Tried sell threshold is: 61
Tried sell threshold is: 62
Tried sell threshold is: 63
Tried sell threshold is: 64
Tried sell threshold is: 65
Tried sell threshold is: 66
Tried sell threshold is: 67
Tried sell threshold is: 68
Tried sell threshold is: 69
Tried sell threshold is: 70
Tried sell threshold is: 71
Tried sell threshold is: 72
Tried sell threshold is: 73
Tried sell threshold is: 74
Tried sell threshold is: 75
Tried sell threshold is: 76
Tried sell threshold is: 77
Tried sell threshold is: 78
Tried sell threshold is: 79
Tried buy threshold is: 57
Tried sell threshold is: 40
Tried sell threshold is: 41
Tried sell threshold is: 42
Tried sell threshold is: 43
Tried sell threshold is: 44
Tried sell threshold is: 45
Tried sell threshold is: 46
Tried sell threshold is: 47
Tried sell threshold is: 48
Tried sell threshold is: 49
Tried sell threshold is: 50
Tried sell threshold is: 51
Tried sell threshold is: 52
Tried sell threshold is: 53
Tried sell threshold is: 54
Tried sell threshold is: 55

In [ ]:
tries = pd.DataFrame(tries).sort_values(by=2, ascending=False)
tries

       0   1       2
1491  77  51 6351.70
1454  76  54 6351.70
1450  76  50 6351.70
1494  77  54 6351.70
1493  77  53 6351.70
...   ..  ..     ...
542   53  62  259.82
581   54  61  259.82
582   54  62  259.82
620   55  60  259.82
580   54  60  259.82

[1600 rows x 3 columns]

#DENEME

##Find Thresholds

In [8]:
scaler = MinMaxScaler(feature_range=(0, 100))

result_df = pd.DataFrame()

for stock in xu030:
  print(stock)
  data = yf.download(stock, start=start, end=end, progress=False)
  data = create_indicators(data)
  data["STOCK"] = stock

  for i in range(10):
    print(f"{i}. Deneme")
    scores = []

    rsi1 = random.randint(0,5)
    rsi2 = random.randint(0,5)
    rsi3 = random.randint(0,5)
    rsi4 = random.randint(0,5)
    rsi5 = random.randint(0,5)
    rsi6 = random.randint(0,5)
    rsi7 = random.randint(0,5)

    sma5_1 = random.randint(0,5)
    sma5_2 = random.randint(0,5)
    sma5_3 = random.randint(0,5)
    sma5_4 = random.randint(0,5)

    sma9_1 = random.randint(0,5)
    sma9_2 = random.randint(0,5)
    sma9_3 = random.randint(0,5)
    sma9_4 = random.randint(0,5)

    sma14_1 = random.randint(0,5)
    sma14_2 = random.randint(0,5)
    sma14_3 = random.randint(0,5)
    sma14_4 = random.randint(0,5)

    sma20_1 = random.randint(0,5)
    sma20_2 = random.randint(0,5)

    sma21_1 = random.randint(0,5)
    sma21_2 = random.randint(0,5)
    sma21_3 = random.randint(0,5)
    sma21_4 = random.randint(0,5)

    sma50 = random.randint(0,5)

    ema_close_1 = random.randint(0,5)
    ema_close_2 = random.randint(0,5)

    ema5_1 = random.randint(0,5)
    ema5_2 = random.randint(0,5)
    ema5_3 = random.randint(0,5)
    ema5_4 = random.randint(0,5)

    ema14_1 = random.randint(0,5)
    ema14_2 = random.randint(0,5)
    ema14_3 = random.randint(0,5)
    ema14_4 = random.randint(0,5)

    ema21_1 = random.randint(0,5)
    ema21_2 = random.randint(0,5)
    ema21_3 = random.randint(0,5)
    ema21_4 = random.randint(0,5)

    stoch_1 = random.randint(0,5)
    stoch_2 = random.randint(0,5)
    stoch_3 = random.randint(0,5)
    stoch_4 = random.randint(0,5)

    macd_1 = random.randint(0,5)
    macd_2 = random.randint(0,5)
    macd_3 = random.randint(0,5)
    macd_4 = random.randint(0,5)
    macd_5 = random.randint(0,5)
    macd_6 = random.randint(0,5)
    macd_7 = random.randint(0,5)
    macd_8 = random.randint(0,5)

    bb1 = random.randint(0,5)
    bb2 = random.randint(0,5)
    bb3 = random.randint(0,5)
    bb4 = random.randint(0,5)

    adx1 = random.randint(0,5)
    adx2 = random.randint(0,5)
    adx3 = random.randint(0,5)
    adx4 = random.randint(0,5)

    add = 1

    indicators = [rsi1, rsi2, rsi3, rsi4, rsi5, sma5_1, sma5_2, sma5_3, sma5_4, sma9_1, sma9_2, sma9_3, sma9_4, sma14_1, sma14_2, sma14_3, sma14_4, sma20_1, sma20_2, sma21_1, sma21_2, sma21_3, sma21_4, sma50,
              ema_close_1, ema_close_2, ema5_1, ema5_2, ema5_3, ema5_4, ema14_1, ema14_2, ema14_3, ema14_4, ema21_1, ema21_2, ema21_3, ema21_4, stoch_1, stoch_2, stoch_3, stoch_4, macd_1, macd_2, macd_3, macd_4, macd_5,
              macd_6, macd_7, macd_8, bb1, bb2, bb3, bb4, adx1, adx2, adx3, adx4, rsi6, rsi7]

    for row in range(data.shape[0]):
      score = 0

      if data["RSI"][row] < 30:
        score+=rsi1
      elif data["RSI"][row] > 70:
        score-=rsi2

      if data["RSI"][row] >= 75:
        score+=rsi6
      elif row > 0 and data["RSI"][row-1] > 73 and data["RSI"][row] < 73:
        score-=rsi7

      if row > 0 and data["RSI"].iloc[row-1] > 63 and data["RSI"].iloc[row] < 63:
        score-=rsi3
      if row > 0 and data["RSI"].iloc[row-1] > 49 and data["RSI"].iloc[row] < 49:
        score-=rsi4
      elif row > 0 and data["RSI"].iloc[row-1] < 50 and data["RSI"].iloc[row] > 50:
        score+=rsi5

      if data["SMA5"].iloc[row] > data["SMA10"].iloc[row]:
        score+=sma5_1
      else:
        score-=sma5_2

      if row > 0 and data['SMA5'].iloc[row-1] < data['SMA10'].iloc[row-1] and data['SMA5'].iloc[row] > data['SMA10'].iloc[row]:
        score+=sma5_3
      else:
        score-=sma5_4

      if data["SMA9"][row] > data["SMA14"][row]:
        score+=sma9_1
      else:
        score-=sma9_2

      if row > 0 and data['SMA9'].iloc[row-1] < data['SMA14'].iloc[row-1] and data['SMA9'].iloc[row] > data['SMA14'].iloc[row]:
        score+=sma9_3
      else:
        score-=sma9_4

      if data["SMA14"][row] > data["SMA21"][row]:
        score+=sma14_1
      else:
        score-=sma14_2

      if row > 0 and data['SMA14'].iloc[row-1] < data['SMA21'].iloc[row-1] and data['SMA14'].iloc[row] > data['SMA21'].iloc[row]:
        score+=sma14_3
      else:
        score-=sma14_4

      if row > 1 and data['SMA20'].iloc[row-1] < data["Close"].iloc[row-1] and data['SMA20'].iloc[row] < data["Close"].iloc[row]:
        score+=sma20_1
      else:
        score-=sma20_2

      if data["SMA21"][row] > data["SMA50"][row]:
        score+=sma21_1
      else:
        score-=sma21_2

      if row > 0 and data['SMA21'].iloc[row-1] < data['SMA50'].iloc[row-1] and data['SMA21'].iloc[row] > data['SMA50'].iloc[row]:
        score+=sma21_3
      else:
        score-=sma21_4

      if row > 0 and data['SMA50'].iloc[row-1] < data['SMA200'].iloc[row-1] and data['SMA50'].iloc[row] > data['SMA200'].iloc[row]:
        score+=sma50

      if data['Close'][row] > data["EMA14"][row]:
        score+=ema_close_1
      else:
        score-=ema_close_2

      if data["EMA5"][row] > data["EMA14"][row]:
        score+=ema5_1
      else:
        score-=ema5_2

      if row > 0 and data['EMA5'].iloc[row-1] < data['EMA14'].iloc[row-1] and data['EMA5'].iloc[row] > data['EMA14'].iloc[row]:
        score+=ema5_3
      else:
        score-=ema5_4

      if data["EMA14"][row] > data["EMA21"][row]:
        score+=ema14_1
      else:
        score-=ema14_2

      if row > 0 and data['EMA14'].iloc[row-1] < data['EMA21'].iloc[row-1] and data['EMA14'].iloc[row] > data['EMA21'].iloc[row]:
        score+=ema14_3
      else:
        score-=ema14_4

      if data["EMA21"][row] > data["EMA50"][row]:
        score+=ema21_1
      else:
        score-=ema21_2

      if row > 0 and data['EMA21'].iloc[row-1] < data['EMA50'].iloc[row-1] and data['EMA21'].iloc[row] > data['EMA50'].iloc[row]:
        score+=ema21_3
      else:
        score-=ema21_4

      if data["STOCH-D"][row] <= 20:
        score+=stoch_1
      elif data["STOCH-D"][row] >= 80:
        score-=stoch_2

      if row > 0 and data["STOCH-D"][row-1] > 65 and data["STOCH-D"][row] < 65:
        score-=stoch_3
      elif row > 0 and data["STOCH-D"][row-1] < 35 and data["STOCH-D"][row] > 35:
        score=+stoch_4

      if data["MACD"][row] > data["SIGNAL"][row]:
        score+=macd_1
      if row > 0 and data["MACD"][row] > data["SIGNAL"][row] and data["HISTOGRAM"][row-1] < 0 and data["HISTOGRAM"][row] > 0:
        score+=macd_2
      if row > 0 and data["MACD"][row] < data["SIGNAL"][row] and data["HISTOGRAM"][row-1] > 0 and data["HISTOGRAM"][row] < 0:
        score-=macd_3
      if data["MACD"][row] < data["SIGNAL"][row]:
        score-=macd_4

      if data['MACD'].tail(7).mean() > 0:
        score+=macd_5
      else:
        score-=macd_6

      if data['MACD'].tail(30).mean() > 0:
        score+=macd_7
      else:
        score-=macd_8

      if data["BB-LOWER"].iloc[row] > data["Close"].iloc[row]:
          score+=bb1
      elif data["BB-UPPER"].iloc[row] < data["Close"].iloc[row]:
          score-=bb2
      if data["BB-MID"].iloc[row] < data["Close"].iloc[row] and data["BB-LOWER"].iloc[row] - data["Close"].iloc[row] < data["BB-MID"].iloc[row] - data["Close"].iloc[row]:
          score+=bb3
      elif data["BB-MID"].iloc[row] > data["Close"].iloc[row] and data["BB-UPPER"].iloc[row] - data["Close"].iloc[row] < data["BB-MID"].iloc[row] - data["Close"].iloc[row]:
          score-=bb4

      if (data["STDEV"].max() + data["STDEV"].min()) / 2 > data["STDEV"][row]:
        score+=add
      else:
        score-=add

      if data["PSAR"][row] < data["Close"][row]:
        score+=add
      else:
        score-=add

      if data["WILLIAMS"][row] < -80:
        score+=add
      elif data["WILLIAMS"][row] > -20:
        score-=add

      if data["AROON"][row] > 0:
        score-=add
      else:
        score+=add

      if row > 0 and data["OBV"][row-1] < data["OBV"][row] and data["Close"][row] > data["Close"][row-1]:
        score+=add
      elif row > 0 and data["OBV"][row-1] > data["OBV"][row] and data["Close"][row] < data["Close"][row-1]:
        score-=add

      if row > 0 and (data['CCI'][row] > -100) & (data['CCI'][row-1] <= -100):
        score+=add
      elif row > 0 and (data['CCI'][row] < 100) & (data['CCI'][row-1] >= 100):
        score-=add

      if data["ROC"][row] > 0:
        score+=add
      elif data["ROC"][row] < 0:
        score-=add

      if data["BULL"][row] > 0:
        score+=add
      elif data["BEAR"][row] < 0:
        score-=add

      if (data['ADX'][row] > 25) and (data['+DI'][row] > data['-DI'][row]):
        score+=adx1
      if data['ADX'][row] > data['+DI'][row] and data['ADX'][row] > data['-DI'][row]:
        score+=adx2
      if data['ADX'][row] < data['+DI'][row] and data['ADX'][row] < data['-DI'][row]:
        score-=adx3
      elif (data['ADX'][row] > 40) and (data['+DI'][row] < data['-DI'][row]):
        score-=adx4

      scores.append(score)

    data["SCORE"] = scores
    data["SCORE"] = scaler.fit_transform(data["SCORE"].values.reshape(-1, 1))

    tries = []

    for buy_threshold in range(40, 80):
      for sell_threshold in range(40, 80):
        profit_or_loss = []

        for stock in [stock]:
          stock_df = data[data["STOCK"] == stock]
          buy_sell_df = buy_or_sell(stock, stock_df, balance=balance, upper_score=buy_threshold, lower_score=sell_threshold)

          if buy_sell_df.empty != True:

            if buy_sell_df['B/S'].iloc[-1] == "BUY":
              add = pd.DataFrame({"STOCK": [buy_sell_df["STOCK"].iloc[-1]], "B/S": ["CLOSE"], "DATE": [today], "PRICE": [buy_sell_df["LAST PRICE"].iloc[-1]],
                                  'STOCK BALANCE': [0], 'TRY BALANCE': [(buy_sell_df["STOCK BALANCE"].iloc[-1]) * buy_sell_df["LAST PRICE"].iloc[-1]], 'LAST PRICE' :[buy_sell_df["LAST PRICE"].iloc[-1]]})

              buy_sell_df = pd.concat([buy_sell_df, add])

            if buy_sell_df['TRY BALANCE'].empty != True:
              profit_or_loss.append(buy_sell_df['TRY BALANCE'].tail(1).item() - balance)

        tries.append([buy_threshold, sell_threshold, sum(profit_or_loss)])

    tries = pd.DataFrame(tries).sort_values(by=2, ascending=False).reset_index().drop(["index"], axis=1)
    print(tries.head())
    concat_df = pd.DataFrame(np.array([stock, indicators, tries[0][0], tries[1][0], tries[2][0]]).reshape(1,5), columns=["STOCK", "WEIGHTS", "BUY TH", "SELL TH", "PROFIT"])
    result_df = result_df.append(concat_df, ignore_index=True)
    result_df.to_excel('/content/drive/MyDrive/stockmarket/'+ "bist30" +'.xlsx', index=False)


result_df

AKBNK.IS
0. Deneme
    0   1       2
0  74  66 3719.16
1  73  65 3719.16
2  74  65 3719.16
3  73  66 3719.16
4  73  68 3559.47
1. Deneme

<ipython-input-8-9dfb753d71b4>:316: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  concat_df = pd.DataFrame(np.array([stock, indicators, tries[0][0], tries[1][0], tries[2][0]]).reshape(1,5), columns=["STOCK", "WEIGHTS", "BUY TH", "SELL TH", "PROFIT"])

KeyboardInterrupt: ignored

## score func

In [24]:
import ast

def score(data, x):
  scaler = MinMaxScaler(feature_range=(0, 100))
  scores = []

  x = ast.literal_eval(x)

  for row in range(data.shape[0]):
    score = 0

    if data["RSI"][row] < 30:
      score+=x[0]
    elif data["RSI"][row] > 70:
      score-=x[1]

    if data["RSI"][row] >= 75:
      score+=x[58]
    elif row > 0 and data["RSI"][row-1] > 73 and data["RSI"][row] < 73:
      score-=x[59]

    if row > 0 and data["RSI"].iloc[row-1] > 63 and data["RSI"].iloc[row] < 63:
      score-=x[2]

    if row > 0 and data["RSI"].iloc[row-1] > 49 and data["RSI"].iloc[row] < 49:
      score-=x[3]
    elif row > 0 and data["RSI"].iloc[row-1] < 50 and data["RSI"].iloc[row] > 50:
      score+=x[4]

    if data["SMA5"].iloc[row] > data["SMA10"].iloc[row]:
      score+=x[5]
    else:
      score-=x[6]

    if row > 0 and data['SMA5'].iloc[row-1] < data['SMA10'].iloc[row-1] and data['SMA5'].iloc[row] > data['SMA10'].iloc[row]:
      score+=x[7]
    else:
      score-=x[8]

    if data["SMA9"][row] > data["SMA14"][row]:
      score+=x[9]
    else:
      score-=x[10]

    if row > 0 and data['SMA9'].iloc[row-1] < data['SMA14'].iloc[row-1] and data['SMA9'].iloc[row] > data['SMA14'].iloc[row]:
      score+=x[11]
    else:
      score-=x[12]

    if data["SMA14"][row] > data["SMA21"][row]:
      score+=x[13]
    else:
      score-=x[14]

    if row > 0 and data['SMA14'].iloc[row-1] < data['SMA21'].iloc[row-1] and data['SMA14'].iloc[row] > data['SMA21'].iloc[row]:
      score+=x[15]
    else:
      score-=x[16]

    if row > 1 and data['SMA20'].iloc[row-1] < data["Close"].iloc[row-1] and data['SMA20'].iloc[row] < data["Close"].iloc[row]:
      score+=x[17]
    else:
      score-=x[18]

    if data["SMA21"][row] > data["SMA50"][row]:
      score+=x[19]
    else:
      score-=x[20]

    if row > 0 and data['SMA21'].iloc[row-1] < data['SMA50'].iloc[row-1] and data['SMA21'].iloc[row] > data['SMA50'].iloc[row]:
      score+=x[21]
    else:
      score-=x[22]

    if row > 0 and data['SMA50'].iloc[row-1] < data['SMA200'].iloc[row-1] and data['SMA50'].iloc[row] > data['SMA200'].iloc[row]:
      score+=x[23]

    if data['Close'][row] > data["EMA14"][row]:
      score+=x[24]
    else:
      score-=x[25]

    if data["EMA5"][row] > data["EMA14"][row]:
      score+=x[26]
    else:
      score-=x[27]

    if row > 0 and data['EMA5'].iloc[row-1] < data['EMA14'].iloc[row-1] and data['EMA5'].iloc[row] > data['EMA14'].iloc[row]:
      score+=x[28]
    else:
      score-=x[29]

    if data["EMA14"][row] > data["EMA21"][row]:
      score+=x[30]
    else:
      score-=x[31]

    if row > 0 and data['EMA14'].iloc[row-1] < data['EMA21'].iloc[row-1] and data['EMA14'].iloc[row] > data['EMA21'].iloc[row]:
      score+=x[32]
    else:
      score-=x[33]

    if data["EMA21"][row] > data["EMA50"][row]:
      score+=x[34]
    else:
      score-=x[35]

    if row > 0 and data['EMA21'].iloc[row-1] < data['EMA50'].iloc[row-1] and data['EMA21'].iloc[row] > data['EMA50'].iloc[row]:
      score+=x[36]
    else:
      score-=x[37]

    if data["STOCH-D"][row] <= 20:
      score+=x[38]
    elif data["STOCH-D"][row] >= 80:
      score-=x[39]

    if row > 0 and data["STOCH-D"][row-1] > 65 and data["STOCH-D"][row] < 65:
      score-=x[40]
    elif row > 0 and data["STOCH-D"][row-1] < 35 and data["STOCH-D"][row] > 35:
      score=+x[41]

    if data["MACD"][row] > data["SIGNAL"][row]:
      score+=x[42]
    if row > 0 and data["MACD"][row] > data["SIGNAL"][row] and data["HISTOGRAM"][row-1] < 0 and data["HISTOGRAM"][row] > 0:
      score+=x[43]
    if row > 0 and data["MACD"][row] < data["SIGNAL"][row] and data["HISTOGRAM"][row-1] > 0 and data["HISTOGRAM"][row] < 0:
      score-=x[44]
    if data["MACD"][row] < data["SIGNAL"][row]:
      score-=x[45]

    if data['MACD'].tail(7).mean() > 0:
      score+=x[46]
    else:
      score-=x[47]

    if data['MACD'].tail(30).mean() > 0:
      score+=x[48]
    else:
      score-=x[49]

    if data["BB-LOWER"].iloc[row] > data["Close"].iloc[row]:
        score+=x[50]
    elif data["BB-UPPER"].iloc[row] < data["Close"].iloc[row]:
        score-=x[51]
    if data["BB-MID"].iloc[row] < data["Close"].iloc[row] and data["BB-LOWER"].iloc[row] - data["Close"].iloc[row] < data["BB-MID"].iloc[row] - data["Close"].iloc[row]:
        score+=x[52]
    elif data["BB-MID"].iloc[row] > data["Close"].iloc[row] and data["BB-UPPER"].iloc[row] - data["Close"].iloc[row] < data["BB-MID"].iloc[row] - data["Close"].iloc[row]:
        score-=x[53]

    if (data["STDEV"].max() + data["STDEV"].min()) / 2 > data["STDEV"][row]:
      score+=1
    else:
      score-=1

    if data["PSAR"][row] < data["Close"][row]:
      score+=1
    else:
      score-=1

    if data["WILLIAMS"][row] < -80:
      score+=1
    elif data["WILLIAMS"][row] > -20:
      score-=1

    if data["AROON"][row] > 0:
      score-=1
    else:
      score+=1

    if row > 0 and data["OBV"][row-1] < data["OBV"][row] and data["Close"][row] > data["Close"][row-1]:
      score+=1
    elif row > 0 and data["OBV"][row-1] > data["OBV"][row] and data["Close"][row] < data["Close"][row-1]:
      score-=1

    if row > 0 and (data['CCI'][row] > -100) & (data['CCI'][row-1] <= -100):
      score+=1
    elif row > 0 and (data['CCI'][row] < 100) & (data['CCI'][row-1] >= 100):
      score-=1

    if data["ROC"][row] > 0:
      score+=1
    elif data["ROC"][row] < 0:
      score-=1

    if data["BULL"][row] > 0:
      score+=1
    elif data["BEAR"][row] < 0:
      score-=1

    if (data['ADX'][row] > 25) and (data['+DI'][row] > data['-DI'][row]):
      score+=x[54]
    if data['ADX'][row] > data['+DI'][row] and data['ADX'][row] > data['-DI'][row]:
      score+=x[55]
    if data['ADX'][row] < data['+DI'][row] and data['ADX'][row] < data['-DI'][row]:
      score-=x[56]
    elif (data['ADX'][row] > 40) and (data['+DI'][row] < data['-DI'][row]):
      score-=x[57]

    scores.append(score)

  data["SCORE"] = scores
  data["SCORE"] = scaler.fit_transform(data["SCORE"].values.reshape(-1, 1))
  return data

## profit calc

In [41]:
result_df = pd.read_excel("/content/drive/MyDrive/stockmarket/bist30.xlsx")

In [42]:
def test_the_market(market, buy_threshold, sell_threshold, start, end, balance, today, x):
  test_df = pd.DataFrame()

  for stock in market:
    try:
      data = yf.download(stock, start, end, progress=False)
      data = create_indicators(data)
      data = score(data, x)
      simulation_df = buy_or_sell(stock, data, balance=balance, upper_score=buy_threshold, lower_score=sell_threshold)
      test_df = pd.concat([test_df, simulation_df])

    except:
      print("Data error with stock named: " + stock)

  test_df = test_df.reset_index().drop(["index"], axis=1)
  return_df = pd.DataFrame()

  for stock in market:
    stock_df = test_df[test_df["STOCK"] == stock]

    if stock_df.empty != True:
      if stock_df['B/S'].iloc[-1] == "BUY":
        add = pd.DataFrame({"STOCK": [stock_df["STOCK"].iloc[-1]], "B/S": ["CLOSE"], "DATE": [today], "PRICE": [stock_df["LAST PRICE"].iloc[-1]],
                            'STOCK BALANCE': [0], 'TRY BALANCE': [(stock_df["STOCK BALANCE"].iloc[-1]) * stock_df["LAST PRICE"].iloc[-1]], 'LAST PRICE' :[stock_df["LAST PRICE"].iloc[-1]]})

        stock_df = stock_df.append(add)
        return_df = pd.concat([return_df, stock_df], ignore_index=True)
      else:
        return_df = pd.concat([return_df, stock_df], ignore_index=True)

  return return_df

profit_or_loss = []
transactions_df = pd.DataFrame()

for stock in xu030:
  stock_df = result_df[result_df["STOCK"] == stock].sort_values(by="PROFIT", ascending=False)

  buy_threshold = stock_df["BUY TH"].iloc[0]
  sell_threshold = stock_df["SELL TH"].iloc[0]
  x = stock_df["WEIGHTS"].iloc[0]

  test_df = test_the_market([stock], buy_threshold, sell_threshold, start=start, end=end, balance=balance, today=today, x=x)
  transactions_df = pd.concat([transactions_df, test_df], ignore_index=True)

  for stock in [stock]:
    stock_df = test_df[test_df["STOCK"] == stock]

    if stock_df.empty != True:
      profit_or_loss.append([stock_df["STOCK"].iloc[-1] ,stock_df['TRY BALANCE'].tail(1).item() - balance])

  profit_df = pd.DataFrame(profit_or_loss)

profit_df

           0        1
0   AKBNK.IS  6203.90
1   AKSEN.IS  6865.65
2   ALARK.IS  9448.69
3   ARCLK.IS  3911.98
4   ASELS.IS  3765.42
5   BIMAS.IS  2563.44
6   EKGYO.IS  5924.19
7   ENKAI.IS  2644.99
8   EREGL.IS  1704.34
9   FROTO.IS  3631.82
10  GARAN.IS  5986.01
11  GUBRF.IS  8088.05
12  HEKTS.IS 14799.20
13  KRDMD.IS  3650.42
14  KCHOL.IS  5012.35
15  KOZAL.IS  7701.99
16  KOZAA.IS  3253.02
17   ODAS.IS 12701.32
18  PGSUS.IS  9516.76
19  SAHOL.IS  4202.58
20   SASA.IS  6807.64
21  PETKM.IS  2820.74
22   SISE.IS  4592.40
23  TAVHL.IS  5367.91
24  THYAO.IS  9682.01
25  TUPRS.IS  4084.68
26  TOASO.IS  4629.80
27  TCELL.IS  2727.71
28  ISCTR.IS  8889.46
29  YKBNK.IS  7530.88

In [43]:
transactions_df[transactions_df["STOCK"] == "EKGYO.IS"]

,STOCK,B/S,DATE,PRICE,STOCK BALANCE,TRY BALANCE,SCORE,LAST PRICE
174,EKGYO.IS,BUY,2022-03-21 00:00:00,2.34,854.70,0.00,80.00,7.45
175,EKGYO.IS,SELL,2022-04-25 00:00:00,2.76,0.00,2358.97,63.08,7.45
176,EKGYO.IS,BUY,2022-05-10 00:00:00,2.83,833.56,0.00,86.15,7.45
177,EKGYO.IS,SELL,2022-05-11 00:00:00,2.75,0.00,2292.29,53.85,7.45
178,EKGYO.IS,BUY,2022-05-17 00:00:00,2.63,871.59,0.00,60.00,7.45
179,EKGYO.IS,SELL,2022-06-09 00:00:00,2.68,0.00,2335.87,58.46,7.45
180,EKGYO.IS,BUY,2022-06-30 00:00:00,2.64,884.80,0.00,58.46,7.45
181,EKGYO.IS,SELL,2022-09-14 00:00:00,4.42,0.00,3910.81,63.08,7.45
182,EKGYO.IS,BUY,2022-09-16 00:00:00,4.37,894.92,0.00,63.08,7.45
183,EKGYO.IS,SELL,2022-10-31 00:00:00,4.41,0.00,3946.61,56.92,7.45
184,EKGYO.IS,BUY,2022-11-01 00:00:00,4.51,875.08,0.00,75.38,7.45
185,EKGYO.IS,SELL,2023-01-09 00:00:00,8.73,0.00,7639.44,55.38,7.45
186,EKGYO.IS,BUY,2023-01-20 00:00:00,8.63,885.22,0.00,60.00,7.45
187,EKGYO.IS,SELL,2023-02-21 00:00:00,8.93,0.00,7905.01,61.54,7.45
188,EKGYO.IS,BUY,2023-02-23 00:00:00,8.09,977.13,0.00,76.92,7.45
189,EKGYO.IS,SELL,2023-03-10 00:00:00,8.09,0.00,7905.01,55.38,7.45
190,EKGYO.IS,BUY,2023-04-10 00:00:00,7.29,1084.36,-0.00,78.46,7.45
191,EKGYO.IS,SELL,2023-04-11 00:00:00,7.28,0.00,7894.17,43.08,7.45
192,EKGYO.IS,BUY,2023-04-12 00:00:00,7.00,1127.74,0.00,69.23,7.45
193,EKGYO.IS,SELL,2023-04-13 00:00:00,7.00,0.00,7894.17,56.92,7.45
194,EKGYO.IS,BUY,2023-05-16 00:00:00,6.47,1220.12,0.00,84.62,7.45
195,EKGYO.IS,SELL,2023-05-18 00:00:00,6.07,0.00,7406.12,53.85,7.45
196,EKGYO.IS,BUY,2023-05-22 00:00:00,6.46,1146.46,-0.00,70.77,7.45
197,EKGYO.IS,SELL,2023-05-23 00:00:00,6.28,0.00,7199.76,61.54,7.45
198,EKGYO.IS,BUY,2023-05-25 00:00:00,6.46,1114.51,0.00,81.54,7.45
199,EKGYO.IS,SELL,2023-05-31 00:00:00,7.11,0.00,7924.19,61.54,7.45
200,EKGYO.IS,BUY,2023-06-26 00:00:00,7.45,1063.65,-0.00,69.23,7.45
201,EKGYO.IS,CLOSE,2023-06-27,7.45,0.00,7924.19,NaN,7.45

In [44]:
buy_stocks = []
sell_stocks = []
simulation_stocks = pd.DataFrame()

lookup_table = []
portfolio = []

for stock in xu030:
  stock_df = result_df[result_df["STOCK"] == stock].sort_values(by="PROFIT", ascending=False)
  buy_threshold = stock_df["BUY TH"].iloc[0]
  sell_threshold = stock_df["SELL TH"].iloc[0]
  x = stock_df["WEIGHTS"].iloc[0]

  try:
    data = yf.download(stock, start=start, end=end, progress=False)
    data = create_indicators(data)
    data = score(data, x)

    if stock in lookup_table:
      # save_to_excel(stock, data)
      portfolio.append([data.tail(1)["Date"].item(), stock, data.tail(1)["Close"].item(), data.tail(1)["SCORE"].item(),
                        "BUY" if data["SCORE"].iloc[-1] > buy_threshold and data["SCORE"].iloc[-2] < buy_threshold else
                        "SELL" if data["SCORE"].iloc[-1] < sell_threshold and data["SCORE"].iloc[-2] > sell_threshold else
                        "SELL" if data["SCORE"].iloc[-1] < sell_threshold else "HOLD"])

    if data["SCORE"].iloc[-1] > buy_threshold and data["SCORE"].iloc[-2] < buy_threshold:
      buy_stocks.append([data.tail(1)["Date"].item(), stock, data.tail(1)["Close"].item(), data.tail(1)["SCORE"].item(), "BUY"])
      simulation_df = buy_or_sell(stock, data, balance=2000, upper_score=buy_threshold, lower_score=sell_threshold)
      simulation_stocks = pd.concat([simulation_stocks, simulation_df])

    elif data["SCORE"].iloc[-1] < sell_threshold and data["SCORE"].iloc[-2] > sell_threshold:
      sell_stocks.append([data.tail(1)["Date"].item(), stock, data.tail(1)["Close"].item(), data.tail(1)["SCORE"].item(), "SELL"])

  except:
    print("Data error at the stock named: " + stock)

In [45]:
pd.DataFrame(buy_stocks)

           0         1     2     3    4
0 2023-06-26  ALARK.IS 74.75 87.14  BUY
1 2023-06-26  EKGYO.IS  7.45 69.23  BUY
2 2023-06-26  KOZAL.IS 25.06 64.18  BUY
3 2023-06-26  KOZAA.IS 51.65 92.59  BUY
4 2023-06-26  TCELL.IS 36.68 73.81  BUY

In [46]:
pd.DataFrame(sell_stocks)

           0         1      2     3     4
0 2023-06-26  ARCLK.IS 128.50 69.12  SELL

##Graph

In [26]:
import matplotlib.pyplot as plt
plt.figure(figsize=(128,10))

plt.plot(data["Date"], data["SCORE"])
plt.xticks(data["Date"])
plt.xticks(rotation=90)

plt.axhline(y = buy_threshold, color = 'g', linestyle = '-')
plt.axhline(y = sell_threshold, color = 'r', linestyle = '-')

plt.scatter(test_df[test_df["B/S"]== "BUY"]["DATE"], test_df[test_df["B/S"]== "BUY"]["SCORE"], color = 'green')
plt.scatter(test_df[test_df["B/S"]== "SELL"]["DATE"], test_df[test_df["B/S"]== "SELL"]["SCORE"], color = 'red')

plt.show()

KeyError: ignored