<a href="https://colab.research.google.com/github/erendagasan/Eren-Dagasan-Personal/blob/main/Stcok_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q bta-lib
!pip install -q ta
!pip install -q yfinance

In [2]:
import yfinance as yf
import btalib
import numpy as np
import pandas as pd
from ta.trend import PSARIndicator
from ta.momentum import WilliamsRIndicator
from ta.trend import AroonIndicator
from ta.volume import VolumePriceTrendIndicator
from ta.trend import CCIIndicator
from ta.momentum import ROCIndicator
from ta.trend import ADXIndicator

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=RuntimeWarning)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_rows', 500)

In [3]:
#@title Stock Lists
xu030 = [
        'AKBNK.IS',
        'AKSEN.IS',
        'ALARK.IS',
        'ARCLK.IS',
        'ASELS.IS',
        'BIMAS.IS',
        'EKGYO.IS',
        'ENKAI.IS',
        'EREGL.IS',
        'FROTO.IS',
        'GARAN.IS',
        'GUBRF.IS',
        'HEKTS.IS',
        'KRDMD.IS',
        'KCHOL.IS',
        'KOZAL.IS',
        'KOZAA.IS',
        'ODAS.IS',
        'PGSUS.IS',
        'SAHOL.IS',
        'SASA.IS',
        'PETKM.IS',
        'SISE.IS',
        'TAVHL.IS',
        'THYAO.IS',
        'TUPRS.IS',
        'TOASO.IS',
        'TCELL.IS',
        'ISCTR.IS',
        'YKBNK.IS'
          ]

xu100 = ['ADESE.IS',
        'AGHOL.IS',
        'AKBNK.IS',
        'AKSA.IS',
        'AKSEN.IS',
        'ALGYO.IS',
        'ALARK.IS',
        'ALKIM.IS',
        'AEFES.IS',
        'ARCLK.IS',
        'ARDYZ.IS',
        'ASELS.IS',
        'ASTOR.IS',
        'AYDEM.IS',
        'BASGZ.IS',
        'BERA.IS',
        'BIMAS.IS',
        'BIOEN.IS',
        'BRYAT.IS',
        'BRISA.IS',
        'CCOLA.IS',
        'CANTE.IS',
        'CEMAS.IS',
        'CIMSA.IS',
        'DOHOL.IS',
        'DOAS.IS',
        'EGEEN.IS',
        'ECILC.IS',
        'EKGYO.IS',
        'ENJSA.IS',
        'ENKAI.IS',
        'ERBOS.IS',
        'EREGL.IS',
        'ESEN.IS',
        'FROTO.IS',
        'GENIL.IS',
        'GESAN.IS',
        'GLYHO.IS',
        'GOZDE.IS',
        'GUBRF.IS',
        'SAHOL.IS',
        'HEKTS.IS',
        'INDES.IS',
        'IPEKE.IS',
        'ISDMR.IS',
        'ISFIN.IS',
        'ISGYO.IS',
        'ISMEN.IS',
        'IZMDC.IS',
        'KRDMD.IS',
        'KARSN.IS',
        'KARTN.IS',
        'KERVT.IS',
        'KRVGD.IS',
        'KCHOL.IS',
        'KORDS.IS',
        'KOZAL.IS',
        'KOZAA.IS',
        'LOGO.IS',
        'MAVI.IS',
        'MGROS.IS',
        'NTHOL.IS',
        'ODAS.IS',
        'OTKAR.IS',
        'OYAKC.IS',
        'PARSN.IS',
        'PGSUS.IS',
        'PETKM.IS',
        'QUAGR.IS',
        'RTALB.IS',
        'SARKY.IS',
        'SASA.IS',
        'SELEC.IS',
        'SKBNK.IS',
        'SOKE.IS',
        'SOKM.IS',
        'TAVHL.IS',
        'TKFEN.IS',
        'TKNSA.IS',
        'TOASO.IS',
        'TRGYO.IS',
        'TCELL.IS',
        'TUPRS.IS',
        'THYAO.IS',
        'TTKOM.IS',
        'TTRAK.IS',
        'GARAN.IS',
        'HALKB.IS',
        'ISCTR.IS',
        'TSKB.IS',
        'TURSG.IS',
        'SISE.IS',
        'VAKBN.IS',
        'ULKER.IS',
        'VERUS.IS',
        'VESBE.IS',
        'VESTL.IS',
        'YKBNK.IS',
        'YATAS.IS',
        'ZRGYO.IS',
        'ZOREN.IS']

url = 'https://en.m.wikipedia.org/wiki/Nasdaq-100'
nasdaq100 = pd.read_html(url, attrs={'id': "constituents"})[0]
nasdaq100 = nasdaq100["Ticker"].to_list()

In [30]:
def create_indicators(data):
  # Below 30 is oversold, upper 70 is overbought
  data["RSI"] = btalib.rsi(data["Close"], period=14).df

  #If little period conflicts with the bigger one it means buy else sell.
  data["SMA9"] = btalib.sma(data['Close'], period=9).df
  data["SMA20"] = btalib.sma(data['Close'], period=20).df

  #A reading below 20 generally represents an oversold market and a reading above 80 an overbought market. Look only STOCH-D.
  data["STOCH-K"] = btalib.stoch(data['High'], data['Low'], data['Close']).df["k"]
  data["STOCH-D"] = btalib.stoch(data['High'], data['Low'], data['Close']).df["d"]

  #When the MACD line crosses above the signal line, it generates a buy signal. This indicates a potential bullish trend reversal.
  #Additionally, monitor the MACD histogram. When the histogram bars turn positive (change from negative to positive), it confirms the buy signal and suggests increasing buying pressure.
  data["MACD"] = btalib.macd(data['Close']).df["macd"]
  data["SIGNAL"] = btalib.macd(data['Close']).df["signal"]
  data["HISTOGRAM"] = btalib.macd(data['Close']).df["histogram"]

  #Buy Signal: When the price of the stock touches or crosses below the lower Bollinger Band, it can be considered a buy signal.
  #This suggests that the stock may be oversold, and a potential price rebound is expected.
  #Sell Signal: When the price of the stock touches or crosses above the upper Bollinger Band, it can be considered a sell signal.
  #This indicates that the stock may be overbought, and a potential price correction is expected.
  data["BB-UPPER"] = btalib.bbands(data['Close']).df['top']
  data["BB-MID"] = btalib.bbands(data['Close']).df['mid']
  data["BB-LOWER"] = btalib.bbands(data['Close']).df['bot']

  #When the current price of the stock falls below a certain number of standard deviations (GET THE MIN AND MAX VALUE OF THE COLUMN AND MAKE IT THE THRESHOLD)
  #from the mean, it generates a buy signal. This suggests that the price has deviated significantly from the average and may present a buying opportunity.
  data["STDEV"] = data["Close"].rolling(window=10).std()

  #Generate a buy signal when the price crosses above the PSAR.
  #This indicates a potential reversal in the downward trend and suggests a buying opportunity.
  data["PSAR"] = PSARIndicator(data["High"], data["Low"], data["Close"]).psar()

  #Williams
  #Use the Williams Percent Range (%R) formula to calculate the %R values based on historical price data.
  #The %R values range from -100 to 0, where values close to -100 indicate oversold conditions and values close to 0 indicate overbought conditions.
  #Generate a buy signal when the %R value crosses above a certain threshold (e.g., -80) from below.
  #This indicates a potential reversal from oversold conditions and suggests a buying opportunity.
  data["WILLIAMS"] = WilliamsRIndicator(data["High"], data["Low"], data["Close"]).williams_r()

  #The difference between these two lines indicates whether there is overbought (a positive number) or oversold (a negative number).
  data["AROON"] = AroonIndicator(close=data["Close"], window=25).aroon_indicator()

  #obv
  data["OBV"] = VolumePriceTrendIndicator(close=data['Close'], volume=data['Volume']).volume_price_trend()

  #CCI
  data['CCI'] = CCIIndicator(close=data['Close'], low=data["Low"], high=data["High"], window=14).cci()

  #ROC
  data['ROC'] = ROCIndicator(close=data['Close'], window=5).roc()

  #BULLBEARPOWER
  data['BULL'] = data['High'] - (data['High'].rolling(13).max() + data['Low'].rolling(13).min()) / 2
  data['BEAR'] = data['Low'] - (data['High'].rolling(13).max() + data['Low'].rolling(13).min()) / 2

  #ADX
  adx_indicator = ADXIndicator(high=data['High'], low=data['Low'], close=data['Close'], window=14)
  data['ADX'] = adx_indicator.adx()
  data['+DI'] = adx_indicator.adx_pos()
  data['-DI'] = adx_indicator.adx_neg()

  data = data.dropna()
  data = data.reset_index()
  return data

def score(data):
  scores = []

  for row in range(data.shape[0]):
    #MAX 15.25
    #MIN -15.25

    min_score = -15.25
    max_score = 15.25
    score = 0

    if data["RSI"][row] < 30:
      score += 1
    elif data["RSI"][row] > 70:
      score+=-1
    # else:
    #   score+=(100-int(data["RSI"][row]))/70

    if data["SMA9"][row] > data["SMA20"][row] and data["Close"][row] > data["SMA9"][row]:
      score += 1
    else:
      score += -1

    if data["STOCH-D"][row] <= 20:
      score += 1
    elif data["STOCH-D"][row] >= 80:
      score += -1

    if data["MACD"][row] > data["SIGNAL"][row]:
      score+=1
    if row > 0 and data["MACD"][row] > data["SIGNAL"][row] and data["HISTOGRAM"][row-1] < 0 and data["HISTOGRAM"][row] > 0:
      score+=1
    if row > 0 and data["MACD"][row] < data["SIGNAL"][row] and data["HISTOGRAM"][row-1] > 0 and data["HISTOGRAM"][row] > 0:
      score+=-1
    elif data["MACD"][row] < data["SIGNAL"][row]:
      score+=-1

    if data["BB-LOWER"].iloc[row] > data["Close"].iloc[row]:
        score += 1
    elif data["BB-MID"].iloc[row] < data["Close"].iloc[row] and data["BB-LOWER"].iloc[row] - data["Close"].iloc[row] < data["BB-MID"].iloc[row] - data["Close"].iloc[row]:
        score += 0.25
    elif data["BB-MID"].iloc[row] > data["Close"].iloc[row] and data["BB-LOWER"].iloc[row] - data["Close"].iloc[row] > data["BB-MID"].iloc[row] - data["Close"].iloc[row]:
        score -= 0.25
    elif data["BB-UPPER"].iloc[row] < data["Close"].iloc[row]:
        score -= 1

    if (data["STDEV"].max() + data["STDEV"].min()) / 2 > data["STDEV"][row]:
      score+=1
    else:
      score+=-1

    if data["PSAR"][row] < data["Close"][row]:
      score+=1
    else:
      score+=-1

    if data["WILLIAMS"][row] < -80:
      score+=1
    elif data["WILLIAMS"][row] > -20:
      score+=-1

    if data["AROON"][row] > 0:
      score+=-1
    else:
      score+=1

    if row > 0 and data["OBV"][row-1] < data["OBV"][row] and data["Close"][row] > data["Close"][row-1]:
      score+=1
    elif row > 0 and data["OBV"][row-1] > data["OBV"][row] and data["Close"][row] < data["Close"][row-1]:
      score+=-1

    if row > 0 and (data['CCI'][row] > -100) & (data['CCI'][row-1] <= -100):
      score+=1
    elif row > 0 and (data['CCI'][row] < 100) & (data['CCI'][row-1] >= 100):
      score-=1

    if data["ROC"][row] > 0:
      score+=1
    elif data["ROC"][row] < 0:
      score-=1

    if data["BULL"][row] > 0:
      score+=1
    elif data["BEAR"][row] < 0:
      score-=1

    if (data['ADX'][row] > 25) and (data['+DI'][row] > data['-DI'][row]):
      score+=1
    elif (data['ADX'][row] > 50) and (data['+DI'][row] < data['-DI'][row]):
      score-=1

    #normalized score between 0-100
    normalized_score = ((score - min_score) / (max_score - min_score)) * (100 - 0) + 0
    scores.append(normalized_score)

  data["SCORE"] = scores
  return data

def save_to_excel(stock, data):
  output_file = stock + ":" + start + ":" + end + '.xlsx'
  writer = pd.ExcelWriter(output_file)
  data.to_excel(writer, index=True, sheet_name=stock)
  writer.save()

def buy_or_sell(stock, data, balance, upper_score, lower_score):
  stock_balance = 0
  transactions = []

  for row in range(data.shape[0]):
    if data["SCORE"][row] >= upper_score and balance > data["Close"][row]:
      stock_balance = balance / data["Close"][row]
      balance-= stock_balance*data["Close"][row]
      transactions.append([stock, "BUY", data["Date"][row], data["Close"][row], stock_balance, balance])

    elif data["SCORE"][row] <= lower_score and stock_balance > 1:
      balance+=stock_balance*data["Close"][row]
      stock_balance-=stock_balance
      transactions.append([stock,"SELL", data["Date"][row], data["Close"][row], stock_balance, balance])

  transactions_df = pd.DataFrame(transactions, columns=["STOCK","B/S", "DATE", "PRICE", "STOCK BALANCE", "TRY BALANCE"])
  transactions_df["LAST PRICE"] = data["Close"].iloc[-1]
  return transactions_df

def test_the_market(market, buy_threshold, sell_threshold, start, end):
  test_df = pd.DataFrame()

  for stock in market:
    try:
      data = yf.download(stock, start, end, progress=False)
      data = create_indicators(data)
      data = score(data)
      simulation_df = buy_or_sell(stock, data, balance=2000, upper_score=buy_threshold, lower_score=sell_threshold)
      test_df = pd.concat([test_df, simulation_df])

    except:
      print("Data error with stock named: " + stock)

  test_df = test_df.reset_index().drop(["index"], axis=1)

  for row in range(test_df.shape[0]):
    if test_df["B/S"].iloc[row] == "BUY" and test_df["B/S"].iloc[row+1] == "BUY" and not test_df["B/S"].iloc[row] == "CLOSE" and not test_df["B/S"].iloc[row+1] == "CLOSE":
      add = pd.DataFrame({"STOCK": [test_df["STOCK"][row]], "B/S": ["CLOSE"], "DATE": ["TODAY"], "PRICE": [test_df["LAST PRICE"][row]],
                          'STOCK BALANCE': ["0"], 'TRY BALANCE': [test_df["STOCK BALANCE"][row]*test_df["LAST PRICE"][row]], 'LAST PRICE' :[test_df["LAST PRICE"][row]]})

      df_top = test_df.loc[:row]
      df_bottom = test_df.loc[row+1:]
      test_df = pd.concat([df_top, add, df_bottom], ignore_index=True)

  return test_df

In [21]:
start="2023-01-01"
end="2023-07-01"

buy_stocks = []
sell_stocks = []
simulation_stocks = pd.DataFrame()
lookup_table = ["AKBNK", "BIMAS", "ISCTR", "PGSUS", "GARAN", "ARCLK"]
portfolio = []

buy_threshold = 70
sell_threshold = 50

for stock in xu100:
  try:
    data = yf.download(stock, start=start, end=end, progress=False)
    data = create_indicators(data)
    data = score(data)

    if stock in lookup_table:
      # save_to_excel(stock, data)
      portfolio.append([data.tail(1)["Date"].item(), stock, data.tail(1)["Close"].item(), data.tail(1)["SCORE"].item(),
                        "BUY" if data.tail(1)["SCORE"].item() > buy_threshold else "SELL" if data.tail(1)["SCORE"].item() < sell_threshold else "HOLD"])

    if data.tail(1)["SCORE"].item() > buy_threshold:
      buy_stocks.append([data.tail(1)["Date"].item(), stock, data.tail(1)["Close"].item(), data.tail(1)["SCORE"].item(),
                         "BUY" if data.tail(1)["SCORE"].item() > buy_threshold else "SELL" if data.tail(1)["SCORE"].item() < sell_threshold else "HOLD"])
      simulation_df = buy_or_sell(stock, data, balance=2000, upper_score=buy_threshold, lower_score=sell_threshold)
      simulation_stocks = pd.concat([simulation_stocks, simulation_df])

    elif data.tail(1)["SCORE"].item() < sell_threshold:
      sell_stocks.append([data.tail(1)["Date"].item(), stock, data.tail(1)["Close"].item(), data.tail(1)["SCORE"].item(),
                          "BUY" if data.tail(1)["SCORE"].item() > buy_threshold else "SELL" if data.tail(1)["SCORE"].item() < sell_threshold else "HOLD"])

  except:
    print("Data error at the stock named: " + stock)

Data error at the stock named: ASTOR.IS
Data error at the stock named: BASGZ.IS
Data error at the stock named: BIOEN.IS
Data error at the stock named: ESEN.IS
Data error at the stock named: SOKE.IS

In [22]:
portfolio = pd.DataFrame(portfolio, columns=["Date","Stock", "Price","Score", "B/S/H"])
portfolio = portfolio.sort_values(by='Score', ascending=False)
portfolio

Empty DataFrame
Columns: [Date, Stock, Price, Score, B/S/H]
Index: []

In [23]:
buy_stocks = pd.DataFrame(buy_stocks, columns=["Date","Stock", "Price","Score", "B/S/H"])
buy_stocks = buy_stocks.sort_values(by='Score', ascending=False)
buy_stocks

        Date     Stock  Price  Score B/S/H
0 2023-06-16  CCOLA.IS 247.10  73.77   BUY
1 2023-06-16  SAHOL.IS  43.98  70.49   BUY
2 2023-06-16  IZMDC.IS   5.72  70.49   BUY
3 2023-06-16   MAVI.IS  63.95  70.49   BUY

In [24]:
sell_stocks = pd.DataFrame(sell_stocks, columns=["Date","Stock", "Price","Score", "B/S/H"])
sell_stocks
# simulation_stocks.where(simulation_stocks["STOCK"] == "CCOLA").dropna()

         Date     Stock  Price  Score B/S/H
0  2023-06-16  AKSEN.IS  31.78  33.61  SELL
1  2023-06-16  CEMAS.IS   1.64  47.54  SELL
2  2023-06-16  DOHOL.IS   9.20  44.26  SELL
3  2023-06-16  EKGYO.IS   7.20  44.26  SELL
4  2023-06-16  ENJSA.IS  31.68  47.54  SELL
5  2023-06-16  GENIL.IS  40.58  34.43  SELL
6  2023-06-16  GESAN.IS  54.35  43.44  SELL
7  2023-06-16  GUBRF.IS 266.30  40.98  SELL
8  2023-06-16  KOZAL.IS  22.18  37.70  SELL
9  2023-06-16   ODAS.IS   6.52  37.70  SELL
10 2023-06-16  OYAKC.IS  41.30  47.54  SELL
11 2023-06-16   SASA.IS  55.50  33.61  SELL
12 2023-06-16  TKNSA.IS  18.23  47.54  SELL
13 2023-06-16  TRGYO.IS  16.59  47.54  SELL
14 2023-06-16  TCELL.IS  35.72  47.54  SELL
15 2023-06-16  THYAO.IS 180.70  47.54  SELL
16 2023-06-16  TTRAK.IS 356.90  37.70  SELL
17 2023-06-16  HALKB.IS  12.88  37.70  SELL
18 2023-06-16   SISE.IS  42.24  40.98  SELL
19 2023-06-16  ULKER.IS  33.78  37.70  SELL
20 2023-06-16  VERUS.IS 145.00  47.54  SELL
21 2023-06-16  YATAS.IS  29.40  43.44  SELL
22 2023-06-16  ZRGYO.IS   4.21  43.44  SELL
23 2023-06-16  ZOREN.IS   2.94  40.16  SELL

In [25]:
test_df = test_the_market(xu100, buy_threshold, sell_threshold, start, end)

profit_or_loss = []
buffer_stock = test_df["STOCK"].iloc[0]

for row in range(test_df.shape[0]):
  loop_stock = test_df["STOCK"].iloc[row]

  if buffer_stock != loop_stock:
    profit_or_loss.append(test_df["TRY BALANCE"].iloc[row-1]-2000)
    buffer_stock = loop_stock

profit_or_loss.append(test_df["TRY BALANCE"].iloc[-1]-2000)
profit = sum(profit_or_loss)
profit

Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS

13028.480931163005

In [56]:
def optimal_threshold(market, buy_or_sell, range_lower, range_upper, start, end):
  tries = []

  for threshold in range(range_lower, range_upper):
    print(threshold)

    test_df = test_the_market(market, threshold, 55, start, end)

    if test_df.empty != True:
      profit_or_loss = []
      buffer_stock = test_df["STOCK"].iloc[0]

      for row in range(test_df.shape[0]):
        loop_stock = test_df["STOCK"].iloc[row]

        if buffer_stock != loop_stock:
          profit_or_loss.append(test_df["TRY BALANCE"].iloc[row-1]-2000)
          buffer_stock = loop_stock

      profit_or_loss.append(test_df["TRY BALANCE"].iloc[-1]-2000)
      profit = sum(profit_or_loss)

      tries.append([threshold, profit])

  return pd.DataFrame(tries, columns=["THRESHOLD", "PROFIT"])

In [57]:
optimal_buy = optimal_threshold(market=xu100, buy_or_sell=True, range_lower=30, range_upper=100, start=start, end=end)

30
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
31
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
32
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
33
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
34
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
35
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
36
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
37
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
38
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
39
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
40
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
41
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
42
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
43
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
44
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
45
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
46
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
47
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
48
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
49
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
50
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
51
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
52
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
53
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
54
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
55
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
56
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
57
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
58
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
59
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
60
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
61
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
62
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
63
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
64
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
65
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
66
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
67
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
68
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
69
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
70
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
71
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
72
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
73
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
74
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
75
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
76
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
77
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
78
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
79
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
80
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
81
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
82
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
83
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
84
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
85
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
86
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
87
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
88
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
89
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
90
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
91
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
92
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
93
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
94
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
95
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
96
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
97
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
98
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS
99
Data error with stock named: ASTOR.IS
Data error with stock named: BASGZ.IS
Data error with stock named: BIOEN.IS
Data error with stock named: ESEN.IS
Data error with stock named: SOKE.IS

    THRESHOLD   PROFIT
0          30 20706.00
1          31 21859.20
2          32 21137.62
3          33 21137.62
4          34 21644.41
5          35 21328.06
6          36 21328.06
7          37 21210.58
8          38 19787.47
9          39 19787.47
10         40 19787.47
11         41 20926.29
12         42 20926.29
13         43 20926.29
14         44 24036.78
15         45 24752.57
16         46 24752.57
17         47 21636.42
18         48 22030.22
19         49 22030.22
20         50 22030.22
21         51 20592.18
22         52 20592.18
23         53 20592.18
24         54 20377.30
25         55 22258.33
26         56 22258.33
27         57 20643.82
28         58 20157.61
29         59 20157.61
30         60 18945.81
31         61 19546.14
32         62 19546.14
33         63 19546.14
34         64 21517.61
35         65 21517.61
36         66 21517.61
37         67 21151.35
38         68 19468.40
39         69 19468.40
40         70 17677.93
41         71 12386.02
42         72 12386.02
43         73 11321.28
44         74  2119.41
45         75  2119.41
46         76  2119.41
47         77  2132.17
48         78   -95.50
49         79   -95.50
50         80   -95.50

In [ ]:
optimal_buy = optimal_buy.sort(by="PROFIT", ascending=False)
optimal_buy